@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

footer{
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-logo{
  color: #ff6200;
  font-family: "Kelly Slab", sans-serif;
  font-size: 20px;
}

.footer-links{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer-links ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.footer-links li{
  margin-right: 20px;
}
.footer-links a{
  color: #fff;
  font-family: "Kelly Slab", sans-serif;
  font-size: 16px;
}

.footer-links a:hover{
  color: #ff6200;
}



